@model FotoShop.Classes.User

<div class="w-100">
    <div class="modal fade modal-md"
         id="modalRegisterForm"
         tabindex="-1"
         role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-md">
                <div class="modal-header text-center bg-dark text-light">
                    <h4 class="modal-title w-100">Registreer</h4>
                    <a href="" class="close text-white" data-dismiss="modal">
                        &times;
                    </a>
                </div>
                <div class="modal-body mx-4">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <form asp-page-handler="RegisterModalPartial">
                        <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                        <div class="input-group mt-2">
                            <span class="p-2"><img src="images/mail.svg" /></span>
                            <input type="email" asp-for="Email"
                                   class="form-control border-top-0 border-left-0 border-right-0 my-auto"
                                   placeholder="Uw e-mail adres..." />
                        </div>
                        <span asp-validation-for="Email" class="text-danger"></span>

                        <div class="input-group mt-2">
                            <span class="p-2"><img src="images/nameIcon.svg" /></span>
                            <input type="text" asp-for="First_name"
                                   class="form-control border-top-0 border-left-0 border-right-0 my-auto"
                                   placeholder="Uw voornaam..." />

                            <span asp-validation-for="First_name" class="text-danger"></span>
                            <div class="input-group mt-2">
                                <span class="p-2"><img src="images/nameIcon.svg" /></span>
                                <input type="text" asp-for="Last_name"
                                       class="form-control border-top-0 border-left-0 border-right-0 my-auto"
                                       placeholder="Uw achternaam..." />
                            </div>
                        </div>
                        <span asp-validation-for="Last_name" class="text-danger"></span>

                        <div class="input-group mt-3">
                            <span class="p-2">
                                <img src="images/passwordIcon.svg" />
                            </span>
                            <input type="password" asp-for="User_Password"
                                   class="form-control border-top-0 border-left-0 border-right-0 my-auto"
                                   placeholder="Uw wachtwoord..." />
                        </div>
                        <span asp-validation-for="User_Password" class="text-danger"></span>

                        <div class="input-group mt-1">
                            <span class="p-2">
                                <img src="images/passwordIcon.svg" />
                            </span>
                            <input type="password" asp-for="User_PassConfirm"
                                   class="form-control border-top-0 border-left-0 border-right-0 my-auto"
                                   placeholder="Bevestig uw wachtwoord..." />
                        </div>
                        <span asp-validation-for="User_PassConfirm" class="text-danger mb-4"></span>
                    </form>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button id="saveModal" class="btn btn-success" data-save="modal" type="button">
                        Registreer
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
