# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.FotoShop.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\eelco_b0keash\OneDrive\Documenten\Week 3\FotoShop\.idea\.idea.FotoShop.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
