/* table of content 
- General styles
- Typografie
- Buttons
 */

/* General styles */
body {
    background-color: #f2f2f2;
}

.blauw{
    background-color: #80E4F0;
}

/* Typografie */ 
h1,
h2,
h3
{
    color: #1e2c2e;
    font-family: 'Source Sans Pro', sans-serif;
}

p{
    color: #1e2c2e;
    font-family: 'Poppins', sans-serif;
}