.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    max-width: 90vw;
    margin-top: 2vw;
}
.UserProduct{
    background-color: lightblue;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    height: 30vw;
}

.testimg{
    max-height: 50%;
    max-width: 85%;
    object-fit: cover;
    border: 2px solid black;
    margin-bottom: 1vw;
    margin-top: 2vw;
}

.description{
    max-width:19vw;
    height: 7.5vw;
    border: 1px solid black;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    font-size: 0.8vw;
}

.Price{
    font-family: 'Poppins', sans-serif;
    font-size: 1vw;
    margin-left: 1vw;
    text-align: right;
}

.delete{
    width: 1.5vw;
    height: auto;
}

.wrench{
    width: 1.5vw;
    height: auto;
}

.cart{
    width: 1.5vw;
    height: auto;
}

.carttext{
    font-size:0.9vw;
}



