.card-img-top:hover {
    transform: scale(1.01);
}

.shop_column {
    padding: 0 0.125vw;
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    .card-columns {
        column-count: 3;
    }
}

@media screen and (min-width: 1200px) {
    .card-columns {
        column-count: 4;
    }
}