.container-fluid{
    background-color: #f2f2f2;
}

h1{
    font-size: 4vw;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}
.shop_row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0.125vw;
    max-width: 100%;
    margin-left: 0.001vw;
}

.shop_column {
    padding: 0 0.125vw;
}

.img{
    margin-top: 0.25vw;
    vertical-align: middle;
    width: 100% ;
}

.img:hover{
    transform: scale(1.01);
}

@media screen and (max-width: 800px) {
    .shop_column {
        flex: 50%;
        max-width: 50vw;
    }
}

