.body{
    background-color: #f2f2f2;
}
.shop_row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0.125vw;
    max-width: 100%;
    margin-left: 0.001vw;
}

.shop_column {
    flex: 25%;
    max-width: 25%;
    padding: 0 0.125vw;
}

.testimg {
    margin-top: 0.25vw;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .shop_column {
        flex: 50%;
        max-width: 50vw;
    }
}