body{
    background-color: #f2f2f2;
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top:1vw;
    max-width: 100vw;
} 
.moderncont{
    background-color: #adc5c8;
    text-align: center;
    border-radius: 15px;
}
.urbexcont{
    background-color: #8ba0a3;
    text-align: center;
    border-radius: 15px;
}
.popcont{
    background-color: #afced2;
    text-align: center;
    border-radius: 15px;
}

.ModernImgShop{
    width: 23vw;
    margin: 5vw 3vw 2vw 3vw;
}

.PopImgShop{
    width: 23vw;
    margin: 5vw 3vw 2vw 3vw;
}

.UrbexImgShop{
    width: 23vw;
    margin: 5vw 3vw 2vw 3vw;
}

.ModernPrijs, .UrbexPrijs, .PopPrijs{
    padding-top: 6vw;
    padding-bottom: 1vw;
}

.TitelPop, .TitelModern, .TitelUrbex{
    padding-top: 1vw;
    font-weight: bold;
}

