body {
    background-color: #f2f2f2;
    color: #1e2c2e;
    font-family: 'Poppins', sans-serif;
    margin-top: 8.5vh;
    margin-bottom: 6vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar-style {
    background-color: #87E5B3;
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 2.5vw !important;
    font-palette: dark;
    color: black;
    border-bottom: 2px solid black;
    top: 0;
}

.HomeText:hover, .ShopText:hover, .AccountText:hover, .ContactText:hover{
    text-decoration: underline;
} 

.div-style {
    size: 2vw;
    padding-right: 2vw;
}

.icon-size {
    width: 3vw;
    height: auto;
}

.banner {
    top: auto;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    margin-left: -15px;
    margin-right: -15px;
    width: calc(100% + 30px);
}

.contain-logo {
    width: 15vw;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.logo-size {
    width: 100vw;
    height: auto;
}

.dropdown-menu {
    padding: 0 0 0 0;
    margin:  0 0 0 0;
}

.dropdown-menu a {
    text-decoration: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

    .dropdown-menu a:hover {
        background-color: grey;
    }

.dropdown:hover .dropdown-menu {
    display:block;
}

.padding {
    padding: 0 5vw 0 0;
}

.background {
    background-color: #80E4F0;
}

.footer {
    background: #6EECAC;
    position: fixed;
    bottom: 0;
    width: 100vw;
    white-space: nowrap;
    border-top: 1px solid black;
}

.h-navbar {
    height: 10vh;
}