.navbar-style{
    background-color: #6EECAC;
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 48px !important;
    font-palette: dark;
    color: black;
    border-bottom: 2px solid black;
}

.div-style {
    font-size: 10px;
    padding-right: 2%;
    padding-left: 2%;
}

.banner {
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    margin-left: -15px;
    margin-right: -15px;
    width: calc(100% + 30px);
}

.contain-logo {
    width: 8%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.logo-size {
    width: 100%;
}

.dropdown-menu a {
    text-decoration: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.dropdown-menu a:hover {
    background-color: grey;
}

.dropdown:hover .dropdown-menu {
    display:flex;
    flex-direction: column;
}

.padding {
    padding-left: 5%;
    padding-right: 5%;
}

.footer {
    background: #6EECAC;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}