body {
    background-color: #f2f2f2;
    color: #1e2c2e;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar-style {
    background-color: #87E5B3;
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 32px !important;
    font-palette: dark;
    color: black;
    border-bottom: 2px solid black;
}

.div-style {
    font-size: 8px;
    padding-right: 2%;
    padding-left: 2%;
}

.text-dark {
}

.banner {
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    margin-left: -15px;
    margin-right: -15px;
    width: calc(100% + 30px);
}

.contain-logo {
    width: 15%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.logo-size {
    width: 100%;
}

.dropdown-menu a {
    text-decoration: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

    .dropdown-menu a:hover {
        background-color: grey;
    }

.dropdown:hover .dropdown-menu {
    display: flex;
    flex-direction: column;
}

.padding {
    padding-left: 5%;
    padding-right: 5%;
}

.background {
    background-color: #80E4F0;
}

.footer {
    background: #6EECAC;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 20px; /* Vertically center the text there */
}