<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["title"] - Hoekstra Foto's</title>

    <!-- Jquery, popper and bootstrap files -->
    <script src="~/js/jquery-3.5.1.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
    <script src="~/js/layout.js"></script>
    <link href="~/bootstrap-4.5.2-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- CSS files from root folder -->
    <link href="css/stylesheet-layout.css" rel="stylesheet" type="text/css" />
    <link href="css/site.css" rel="stylesheet" type="text/css" />

    <!-- Stylesheets from googlefonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com/%22%3E">

    @await RenderSectionAsync("Styles", false)
    @await RenderSectionAsync("JavaScript", false)
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-light navbar-style sticky-top">
        <a class="navbar-brand" asp-page="Index">
            <img class="img-fluid" src="images/LogoV4.png" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"
                aria-controls="collapsibleNavbar"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown btn-group d-table py-2">
                    <a class="nav-link d-inline pr-0" asp-page="Shop">Shop</a>
                    <a class="nav-link d-inline pl-0 dropdown-toggle dropdown-toggle-split"
                       id="shopDropDown" href="#" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="shopDropDown">
                        <a class="dropdown-item" asp-page="ShopModernUrban">Modern Urban</a>
                        <div class="dropdown-divider border-dark"></div>
                        <a class="dropdown-item" asp-page="ShopUrbex">Urbex</a>
                        <div class="dropdown-divider border-dark"></div>
                        <a class="dropdown-item" asp-page="ShopPop">Pop</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="Contact">Contact</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto list-group-horizontal">
                <li class="nav-item">
                    <a class="nav-link" asp-page="">
                        <img src="images/shoppingCartIcon.svg" />
                    </a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link notLoggedIn"
                       role="button"
                       data-toggle="ajax-modal"
                       data-url="@Url.Page("Index", "LogInModalPartial")">
                        <img src="images/personIcon.svg" />
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link loggedIn" href="#"
                       role="button"
                       id="accountDropDown"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        <img src="images/personIcon.svg" />
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropDown">
                        <a class="dropdown-item" asp-page-handler="LogOut">Log uit</a>
                        <div class="dropdown-divider border-dark"></div>
                        <a class="dropdown-item" asp-page="UploadImage">Account</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    @RenderBody()
    <footer class="mt-auto text-center align-items-center">
        <p class="text-muted pt-2">
            &copy; 2021 Hoekstra's Fotografie <a asp-page="Contact">Contact</a>
        </p>
    </footer>
</body>
</html>