<!DOCTYPE html>

<html lang="nl">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hoekstra Foto's</title>
    <script src="~/js/jquery-3.5.1.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
    <link href="~/bootstrap-4.5.2-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/stylesheet-layout.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com/%22%3E">
    <link rel="stylesheet" href="css/site.css" type="text/css" />

    @await RenderSectionAsync("Styles", false)
    @await RenderSectionAsync("JavaScript", false)
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-style">
            <a class="navbar-brand contain-logo">
                <img class="logo-size " src="images/LogoV3.png" alt="logo">
            </a>
            <div class="collapse navbar-collapse justify-content-start">
                <ul class="navbar-nav">
                    <li class="nav-item padding">
                        <a class="nav-link text-dark" asp-area="" asp-page="Index">Home</a>
                    </li>
                    <li class="nav-item dropdown padding">
                        <a class="nav-link text-dark dropdown-toggle caret" asp-page="Shoppagina">Shop</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown_target">
                            <a class="dropdown-item nav-link text-dark" asp-area="" asp-page="">Modern Urban</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item nav-link text-dark" asp-area="" asp-page="">Urbex</a>
                            <div class="dropdown-divider "></div>
                            <a class="dropdown-item nav-link text-dark" asp-area="" asp-page="">Pop</a>
                        </div>
                    </li>
                    <li class="nav-item padding">
                        <a class="nav-link text-dark" asp-area="" asp-page="">Account</a>
                    </li>
                    <li class="nav-item padding">
                        <a class="nav-link text-dark" asp-area="" asp-page="Contact">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse justify-content-end div-style">
                <ul class="navbar-nav">
                    <li class="nav-item div-style">
                        <a class="notLoggedIn"
                           role="button"
                           data-toggle="ajax-modal"
                           data-url="@Url.Page("Index", "LogInModalPartial")">
                            <img src="images/outline_person_black_24dp.png" />
                        </a>
                        <a class="loggedIn" asp-page="">
                            @*Use this for openining admin page*@
                            <img src="images/outline_person_black_24dp.png" />
                        </a>
                    </li>
                    <li class="nav-item div-style"><a class="nav-link text-dark" asp-area="" asp-page=""><img src="images/outline_shopping_cart_black_24dp.png" /></a></li>
                    <li class="nav-item div-style"><a class="nav-link text-dark" asp-area="" asp-page=""><img src="" />Insta logo</a></li>
                    <li class="nav-item div-style"><a class="nav-link text-dark" asp-area="" asp-page="">Twitter logo</a></li>

                </ul>
            </div>
        </nav>
        <div class="container-fluid m-0">
            <div class="row">
                <div class="col-12">
                    <img class="banner" src="images/BannerV1.jpg" />
                </div>
            </div>
        </div>
    </header>
    @RenderBody()
    <footer class="border-top footer text-muted fixed-bottom">
        <div clas="container">
            <p class="footer-text">
                &copy; 2021 Hoekstra's Fotografie <a asp-area="" asp-page="">Contact</a>
            </p>
        </div>
    </footer>
</body>
</html>