@page
@model FotoShop.Pages.Contact

@{
    ViewData["Title"] = "Contact";
    Layout = "_Layout";
}

@section Styles{
    <link rel="stylesheet" href="~/css/contact.css" />
}

<div class="container-fluid blauw">
    
    <div class="titel d-flex justify-content-center">
        <h1>@ViewData["Title"]</h1>
    </div>

    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <p>
                Heeft u vragen, opmerkingen of klachten?
                Laat het ons weten door het onderstaande formulier in tevullen.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <form method="post" asp-page-handler="ContactForm">
                
                <div class="form-group">
                    <label for="Naam">Naam*</label> <br>
                    <img src="images/perm_identity_black_24dp.svg"></img>
                    <input id="Naam" type="text"> <br>
                </div>

                <div class="form-group">
                    <label for="Email">E-mailadres*</label> <br>
                    <img src="images/email_black_24dp.svg"></img>
                    <input id="Email" type="email"/> <br>
                </div>

                <div class="form-group">
                    <label for="Onderwerp">Onderwerp*</label> <br>
                    <img src="images/title_black.svg">
                    <input id="Onderwerp" type="text"> <br>
                </div>

                <div class="form-group">
                    <img src="images/description_black_24dp.svg">
                    <label for="Bericht">Bericht*</label> <br>
                    <textarea id="Bericht" rows="6" cols="40"></textarea> <br>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn-primary">
                </div>
                
            </form>
        </div>
    </div>
    
</div>