
@page
@model FotoShop.Pages.IndexModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Homepagina";
}

@section Styles{
    <link href="~/css/index.css" rel="stylesheet" />
}

<div class="container-fluid">
    <div class="row d-flex justify-content-center background">
        <div class="col-md-12 Bovengedeelte">
            <h1 class="display-3 font-weight-bold">FOTOGRAAF</h1>
            <h1 class="display-4 font-italic">Hoekstra</h1>
        </div>
    </div>

    <div class="row d-flex justify-content-center homecollage">
        <div id="img-col-urban" class="col-sm-4">
            <a asp-page="ShopModernUrban">
                <div class="container position-relative text-center">
                    <img class="w-100" id="urban1" src="Images/Modern-Afbeelding-Shop.jpg" />
                    <div class="position-absolute centeredText">Modern Urban</div>
                </div>
            </a>
        </div>

        <div id="img-col-urbex" class="col-sm-4 d-flex justify-content-center">
            <a asp-page="ShopUrbex">
                <div class="container position-relative text-center">
                    <img class="w-100" id="urbex1" src="Images/Urbex-Afbeelding-Shop.jpg" />
                    <div class="position-absolute centeredText">Urbex</div>
                </div>
            </a>
        </div>

        <div id="img-col-pop" class="col-sm-4 d-flex justify-content-center">
            <a asp-page="ShopPop">
                <div class="container position-relative text-center">
                    <img class="w-100" id="pop1" src="Images/Pop-Afbeelding-Shop.jpg" />
                    <div class="position-absolute centeredText">Pop</div>
                </div>
            </a>
        </div>
    </div>

    <div class="row d-flex justify-content-center background over">
        <div class="col-md-6">
            <h2>Over de Fotograaf</h2>
            Lobortis vero elitr velit sea dolor facer nulla elitr consequat eum duis eos sed amet volutpat
            nonummy elit consetetur consetetur ea dolor esse vel at magna illum nonumy sed accumsan gubergren
            rebum commodo suscipit ipsum ipsum elitr in voluptua labore ut ea mazim
            justo rebum hendrerit et accusam stet adipiscing
        </div>

        <div class="col-md-6 d-flex justify-content-center camera">
            <img id="camera" src="images/Foto.jpg">
        </div>
    </div>
</div>