@page
@model FotoShop.Pages.IndexModel
@{
    Layout = "_Layout";
}

<!--<nav class="navbar navbar-expand-sm border-dark navbar-style">
        <div class="container-fluid">
            <div class="flex-md-shrink-0">
                <img class="logo float-left" src="Images/LogoV3.png" alt="Logo"/>
            </div>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center">
                <ul class="navbar-nav flex-grow-2">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Shop</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item nav-link text-dark" asp-area="" asp-page="">Modern urban</a>
                            <div class="dropdown-divider"></div>
                            <a class=" dropdown-item nav-link text-dark" asp-area="" asp-page="">Urbex</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item nav-link text-dark" asp-area="" asp-page="">Pop</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid p-0">
        <div class="col-12">
            <img class="banner" src="Images/BannerV1.jpg" alt="Banner"/>
        </div>
    </div>-->
