@page
@model FotoShop.Pages.IndexModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Homepagina";
}

@section Styles{
    <link href="~/css/index.css" rel="stylesheet" />
}

<body>
    <div class="container-fluid">
        <div class="titel">
            <h1>@ViewData["Title"]</h1>
        </div>
        <div class="row">
            <div class="col-md-6 linker">
                <h2 class="LI">Gecatogoriseerd in drie genres</h2>
                <img class="w-100" src="Images/HomeCollage.png" alt="logo" />
            </div>
            <div class="col-md-6 rechter">
                <div class="Rechterkant">
                    <h2>Over de fotograaf</h2>
                    <img class="logo-size1" src="Images/Foto.jpg" alt="logo" /><br><br><br>
                    <span class="NormaleT">
                        Nog te verwerken Informatie/Nog te verwerken Informatie <br>Nog te verwerken InformatieNog te verwerken Informatie
                        Nog te verwerken InformatieNog te verwerken Informatie<br>Nog te verwerken Informatie
                    </span>
                </div><br><br><br>
            </div>
        </div>
    </div>
</body>