@page
@model FotoShop.Pages.PrivacyPolicyModel
@{
    Layout = "_Layout";
}

<div class="container-fluid background py-5">
    <div class="container">
        <p>
            Hoekstra, gevestigd aan Rengerslaan 8
            Leeuwarden, is verantwoordelijk voor de verwerking van persoonsgegevens zoals weergegeven in deze privacyverklaring.
        </p>

        <p>
            Contactgegevens:
        </p>

        <p>
            Rengerslaan 8, 8917 DD
            Leeuwarden
        </p>

        <p>
            058 244 1441
        </p>

        <h2>Persoonsgegevens die wij verwerken</h2>

        <p>Hoekstra verwerkt geen persoonsgegevens omdat op onze site geen persoonsgegevens achter gelaten kunnen worden. Ook gebruiken we geen social media plugins. </p>

        <h2>Met welk doel en op basis van welke grondslag wij persoonsgegevens verwerken</h2>

        <p>Hoekstra verwerkt uw persoonsgegevens voor de volgende doelen:</p>
        <div class="option">- U de mogelijkheid te bieden een account aan te maken</div>

        <h2>Geautomatiseerde besluitvorming</h2>

        <p>
            Hoekstra neemt verantwoordelijkheid op basis van geautomatiseerde verwerkingen besluiten over zaken die (aanzienlijke) gevolgen kunnen hebben voor personen. Het gaat hier om besluiten die worden genomen door computerprogramma's of -systemen, zonder dat daar een mens (bijvoorbeeld een medewerker van Hoekstra) tussen zit.
        </p>

        <h2>Hoe lang we persoonsgegevens bewaren</h2>

        <div class="option">
            Hoekstra bewaart uw persoonsgegevens niet langer dan strikt nodig is om de doelen te realiseren waarvoor uw gegevens worden verzameld.
        </div>

        <h2>Delen van persoonsgegevens met derden</h2>

        <p>Hoekstra deelt geen persoonsgegevens met derden.</p>

        <h2>Cookies, of vergelijkbare technieken, die wij gebruiken</h2>

        <p>
            Hoekstra gebruikt alleen functionele cookies. Een cookie is een klein tekstbestand dat bij het eerste bezoek aan deze website wordt opgeslagen in de browser van uw computer, tablet of smartphone. Hoekstra gebruikt cookies met een puur technische functionaliteit. Deze zorgen ervoor dat de website naar behoren werkt en dat bijvoorbeeld uw voorkeursinstellingen onthouden worden. Deze cookies worden ook gebruikt om de website goed te laten werken en deze te kunnen optimaliseren.

            Bij uw eerste bezoek aan onze website hebben wij u al geïnformeerd over deze cookies en toestemming gevraagd voor het plaatsen ervan.

            U kunt zich afmelden voor cookies door uw internetbrowser zo in te stellen dat deze geen cookies meer opslaat. Daarnaast kunt u ook alle informatie die eerder is opgeslagen via de instellingen van uw browser verwijderen.

            Zie voor een toelichting: <a href="https://veiliginternetten.nl/themes/situatie/cookies-wat-zijn-het-en-wat-doe-ik-ermee/">veiliginternetten.nl</a>
        </p>

        <h2>Gegevens inzien, aanpassen of verwijderen </h2>

        <p>
            U heeft het recht om uw persoonsgegevens in te zien, te corrigeren of te verwijderen. Dit kunt u zelf doen via de persoonlijke instellingen van uw account. Daarnaast heeft u het recht om uw eventuele toestemming voor de gegevensverwerking in te trekken of bezwaar te maken tegen de verwerking van uw persoonsgegevens door ons bedrijf en heeft u het recht op gegevensoverdraagbaarheid. Dat betekent dat u bij ons een verzoek kunt indienen om de persoonsgegevens die wij van u beschikken in een computerbestand naar u of een ander, door u genoemde organisatie, te sturen.

            Wilt u gebruik maken van uw recht op bezwaar en/of recht op gegevensoverdraagbaarheid of heeft u andere vragen/opmerkingen over de gegevensverwerking, stuur dan een gespecificeerd verzoek naar admin@admin.com.

            Om er zeker van te zijn dat het verzoek tot inzage door u is gedaan, vragen wij u een kopie van uw identiteitsbewijs bij het verzoek mee te sturen. Maak in deze kopie uw pasfoto, MRZ (machine readable zone, de strook met nummers onderaan het paspoort), paspoortnummer en Burgerservicenummer (BSN) zwart. Dit ter bescherming van uw privacy. Hoekstra zal zo snel mogelijk, maar in ieder geval binnen vier weken, op uw verzoek reageren.

            Hoekstra wil u er tevens op wijzen dat u de mogelijkheid hebt om een klacht in te dienen bij de nationale toezichthouder, de Autoriteit Persoonsgegevens. Dat kan via de volgende link: 
            <a href=" https://autoriteitpersoonsgegevens.nl/nl/contact-met-de-autoriteit-persoonsgegevens/tip-ons">autoriteitpersoonsgegevens.nl</a>
        </p>

        <h2>Hoe wij persoonsgegevens beveiligen</h2>

        <p>
            Hoekstra neemt de bescherming van uw gegevens serieus en neemt passende maatregelen om misbruik, verlies, onbevoegde toegang, ongewenste openbaarmaking en ongeoorloofde wijziging tegen te gaan. Als u de indruk heeft dat uw gegevens niet goed beveiligd zijn of er zijn aanwijzingen van misbruik, neem dan contact op met onze klantenservice of via admin@admin.com.
        </p>
    </div>
</div>
