@page
@model FotoShop.Pages.ShopUrbex

@{
    Layout = "_Layout";
    ViewData["Title"] = "Shop";
}

@section Styles {
    <link href="/css/Shop.css" rel="stylesheet"/>
}

<body>
<div>
    <div class="row shop_row">
        <div class="col-lg-4 shop_column">
            <img class="testimg" src="Images/ProductImages/Urbex Foto's/Urbex1.jpg"/>
            <img class="testimg" src="Images/ProductImages/Urbex Foto's/Urbex2.jpg"/>
            <img class="testimg" src="Images/ProductImages/Urbex Foto's/Urbex3.jpg"/>
            <img class="testimg" src="Images/ProductImages/Urbex Foto's/Urbex4.jpg"/>
        </div>
        <div class="col-lg-4 shop_column">
            <img class="testimg" src="Images/ProductImages/Urbex Foto's/Urbex5.jpg"/>
            <img class="testimg" src="Images/ProductImages/Urbex Foto's/Urbex6.jpg"/>
            <img class="testimg" src="Images/ProductImages/Urbex Foto's/Urbex7.jpg"/>
            <img class="testimg" src="Images/ProductImages/Urbex Foto's/Urbex8.jpg"/>
        </div>
        <div class="col-lg-4 shop_column">
            <img class="testimg" src="Images/ProductImages/Urbex Foto's/Urbex9.jpg"/>
            <img class="testimg" src="Images/ProductImages/Urbex Foto's/Urbex10.jpg"/>
            <img class="testimg" src="Images/ProductImages/Urbex Foto's/Urbex11.jpg"/>
            <img class="testimg" src="Images/ProductImages/Urbex Foto's/Urbex12.jpg"/>
        </div>
        <div class="col-lg-4 shop_column">
            <img class="testimg" src="Images/ProductImages/Urbex Foto's/Urbex13.jpg"/>
            <img class="testimg" src="Images/ProductImages/Urbex Foto's/Urbex14.jpg"/>
            <img class="testimg" src="Images/ProductImages/Urbex Foto's/Urbex15.jpg"/>
            <img class="testimg" src="Images/ProductImages/Urbex Foto's/Urbex16.jpg"/>
        </div>
    </div>
</div>
</body>
