@page
@model FotoShop.Pages.ShopUrbex

@{
    Layout = "_Layout";
    ViewData["Title"] = "Urbex";
}

@section Styles {
    <link href="/css/Shop.css" rel="stylesheet" />
}

<div class="display-4 text-center py-3">Urbex</div>
<div class="container-fluid">
    <div class="card-columns">
        @foreach (var photo in Model.AllPhotos)
        {
            <div class="card">
                <a asp-route-id="@photo.Photo_id" asp-page="PhotoPage">
                    <img class="card-img-top" src="~/Images/ProductImages/@photo.Photo_path" />
                </a>
            </div>
        }
    </div>
</div>
