@page
@model FotoShop.Pages.Shoppagina

@{
    Layout = "_Layout";
    ViewData["Title"] = "Shop";
}

@section Styles {
    <link href="~/css/shoppagina.css" rel="stylesheet" />
}

<body>
    <div class="container-fluid container">
        <div class="row">
            <div class="col-md-4">
                <div class="moderncont">
                    <a asp-page="ShopModernUrban"><h1 class="TitelModern">Modern Urban</h1></a>
                    <a asp-page="ShopModernUrban"><img class="ModernImgShop" src="Images/Modern-Afbeelding-Shop.jpg" alt="Thumbnail Modern Urban shoppagina"></a>
                    <h3 class="ModernPrijs">Verkrijgbaar vanaf €50,-</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="urbexcont">
                    <a asp-page="ShopUrbex"><h1 class="TitelUrbex">Urbex</h1></a>
                    <a asp-page="ShopUrbex"><img class="UrbexImgShop" src="Images/Urbex-Afbeelding-Shop.jpg" alt="Thumbnail Urbex shoppagina"></a>
                    <h3 class="UrbexPrijs">Verkrijgbaar vanaf €60,-</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="popcont">
                    <a asp-page="ShopPop"><h1 class="TitelPop">Pop</h1></a>
                    <a asp-page="ShopPop"><img class="PopImgShop" src="Images/Pop-Afbeelding-Shop.jpg" alt="Thumbnail Pop shoppagina"></a>
                    <h3 class="PopPrijs">Verkrijgbaar vanaf €40,-</h3>
                </div>
            </div>
        </div>
    </div>
</body>