@page
@using FotoShop.wwwroot.Classes
@model FotoShop.Pages.ModernUrban

@{
    Layout = "_Layout";
    ViewData["Title"] = "Shop";
}

@section Styles {
    <link href="/css/Shop.css" rel="stylesheet"/>
}

<body>
<div>
    <div class="row shop_row">
        <div class="col-lg-4 shop_column">
            <img class="testimg" src="Images/ProductImages/Modern Urban Foto's/Urban1.jpg"/>
            <img class="testimg" src="Images/ProductImages/Modern Urban Foto's/Urban6.jpg"/>
            <img class="testimg" src="Images/ProductImages/Modern Urban Foto's/Urban9.jpg"/>
            <img class="testimg" src="Images/ProductImages/Modern Urban Foto's/Urban10.jpg"/>
        </div>
        <div class="col-lg-4 shop_column">
            <img class="testimg" src="Images/ProductImages/Modern Urban Foto's/Urban2.jpg"/>
            <img class="testimg" src="Images/ProductImages/Modern Urban Foto's/Urban7.jpg"/>
            <img class="testimg" src="Images/ProductImages/Modern Urban Foto's/Urban11.jpg"/>
            <img class="testimg" src="Images/ProductImages/Modern Urban Foto's/Urban12.jpg"/>
        </div>
        <div class="col-lg-4 shop_column">
            <img class="testimg" src="Images/ProductImages/Modern Urban Foto's/Urban3.jpg"/>
            <img class="testimg" src="Images/ProductImages/Modern Urban Foto's/Urban8.jpg"/>
            <img class="testimg" src="Images/ProductImages/Modern Urban Foto's/Urban13.jpg"/>
            <img class="testimg" src="Images/ProductImages/Modern Urban Foto's/Urban14.jpg"/>
        </div>
        <div class="col-lg-4 shop_column">
            <img class="testimg" src="Images/ProductImages/Modern Urban Foto's/Urban4.jpg"/>
            <img class="testimg" src="Images/ProductImages/Modern Urban Foto's/Urban9.jpg"/>
            <img class="testimg" src="Images/ProductImages/Modern Urban Foto's/Urban15.jpg"/>
            <img class="testimg" src="Images/ProductImages/Modern Urban Foto's/Urban16.jpg"/>
        </div>
        <!--     @foreach (var photo in @Model.AllPhotos)
                 {
                     <div class="UserProduct">
                         <img src="@photo.Photo_path"/>
                         <label value="@photo.Price"></label>
                     </div>
                     //<div class="AdminProduct">
                     //    <img/>
                     //    <label value="@photo.Price"/>
                     //</div>
                 }!-->
    </div>
</div>
</body>