@page
@model FotoShop.Pages.ShopPop

@{
    Layout = "_Layout";
    ViewData["Title"] = "Shop";
}
@section Styles {
    <link href="/css/Shop.css" rel="stylesheet"/>
}

<body>
<div>
    <div class="row shop_row">
        <div class="col-lg-4 shop_column">
            <img class="testimg" src="Images/ProductImages/Pop/Pop1.jpg"/>
            <img class="testimg" src="Images/ProductImages/Pop/Pop2.jpg"/>
            <img class="testimg" src="Images/ProductImages/Pop/Pop3.jpg"/>
            <img class="testimg" src="Images/ProductImages/Pop/Pop4.jpg"/>
        </div>
        <div class="col-lg-4 shop_column">
            <img class="testimg" src="Images/ProductImages/Pop/Pop5.jpg"/>
            <img class="testimg" src="Images/ProductImages/Pop/Pop6.jpg"/>
            <img class="testimg" src="Images/ProductImages/Pop/Pop7.jpg"/>
            <img class="testimg" src="Images/ProductImages/Pop/Pop8.jpg"/>
        </div>
        <div class="col-lg-4 shop_column">
            <img class="testimg" src="Images/ProductImages/Pop/Pop9.jpg"/>
            <img class="testimg" src="Images/ProductImages/Pop/Pop10.jpg"/>
            <img class="testimg" src="Images/ProductImages/Pop/Pop11.jpg"/>
            <img class="testimg" src="Images/ProductImages/Pop/Pop12.jpg"/>
        </div>
        <div class="col-lg-4 shop_column">
            <img class="testimg" src="Images/ProductImages/Pop/Pop13.jpg"/>
            <img class="testimg" src="Images/ProductImages/Pop/Pop14.jpg"/>
            <img class="testimg" src="Images/ProductImages/Pop/Pop15.jpg"/>
            <img class="testimg" src="Images/ProductImages/Pop/Pop16.jpg"/>
        </div>
    </div>
</div>
</body>
