@page
@model FotoShop.Pages.ShopUrbex

@{
    Layout = "_Layout";
    ViewData["Title"] = "Shop";
}

@section Styles {
    <link href="/css/Shop.css" rel="stylesheet"/>
}

<body>
<div>
    <div class="row shop_row">
        <div class="col-lg-4 shop_column">
            <img class="testimg" src="Images/ProductImages/Urbex/Urbex1.jpg"/>
            <img class="testimg" src="Images/ProductImages/Urbex/Urbex2.jpg"/>
            <img class="testimg" src="Images/ProductImages/Urbex/Urbex3.jpg"/>
            <img class="testimg" src="Images/ProductImages/Urbex/Urbex4.jpg"/>
        </div>
        <div class="col-lg-4 shop_column">
            <img class="testimg" src="Images/ProductImages/Urbex/Urbex5.jpg"/>
            <img class="testimg" src="Images/ProductImages/Urbex/Urbex6.jpg"/>
            <img class="testimg" src="Images/ProductImages/Urbex/Urbex7.jpg"/>
            <img class="testimg" src="Images/ProductImages/Urbex/Urbex8.jpg"/>
        </div>
        <div class="col-lg-4 shop_column">
            <img class="testimg" src="Images/ProductImages/Urbex/Urbex9.jpg"/>
            <img class="testimg" src="Images/ProductImages/Urbex/Urbex10.jpg"/>
            <img class="testimg" src="Images/ProductImages/Urbex/Urbex11.jpg"/>
            <img class="testimg" src="Images/ProductImages/Urbex/Urbex12.jpg"/>
        </div>
        <div class="col-lg-4 shop_column">
            <img class="testimg" src="Images/ProductImages/Urbex/Urbex13.jpg"/>
            <img class="testimg" src="Images/ProductImages/Urbex/Urbex14.jpg"/>
            <img class="testimg" src="Images/ProductImages/Urbex/Urbex15.jpg"/>
            <img class="testimg" src="Images/ProductImages/Urbex/Urbex16.jpg"/>
        </div>
    </div>
</div>
</body>
