@page
@model FotoShop.Pages.Shoppagina

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Shop</title>
    <link rel="stylesheet" href="bootstrap-4.5.2-dist/css/shop.css" type="text/css">
</head>
<body>
<div class="container-fluid container">
    <div class="row">
        <div class="col-md-4">
            <div class="moderncont">
            <h2 class="TitelModern">Modern Urban</h2>
            <img class="ModernImgShop" src="Images/Modern-Afbeelding-Shop.jpg" alt="Thumbnail Modern Urban shoppagina">
            <h3 class="ModernPrijs">Vanaf €50,-</h3>
            </div>
        </div>
        <div class="col-md-4">
            <div class="urbexcont">
            <h2 class="TitelUrbex">Urbex</h2>
            <img class="UrbexImgShop" src="Images/Urbex-Afbeelding-Shop.jpg" alt="Thumbnail Urbex shoppagina">
            <h3 class="UrbexPrijs">Vanaf €60,-</h3>
            </div>
        </div>
            <div class="col-md-4">
                <div class="popcont">
                <h2 class="TitelPop">Pop</h2>
                <img class="PopImgShop" src="Images/Pop-Afbeelding-Shop.jpg" alt="Thumbnail Pop shoppagina">
                <h3 class="PopPrijs">Vanaf €40,-</h3>
                </div>
            </div>
    </div>
</div>
</body>
</html>