@page
@model FotoShop.Pages.ModernUrban

@{
    Layout = "_Layout";
    ViewData["Title"] = "Shop";
}
@section Styles {
    <link href="/css/Modern.css" rel="stylesheet" />
}

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="">
            </div>
        </div>
    </div>
</div>
</body>