@page
@using FotoShop.Classes
@model FotoShop.Pages.ShoppingCart

@{
    Layout = "_Layout";
}

@section Styles {
    <link href="~/css/cart.css" rel="stylesheet"/>
}

<body>
<div class="container">
    <div class="col Main_col">
        <div class="row Photo_display">
            <div class="row border-dark border-top-0 border-right-0 border-left-0 Item">
                @foreach (var item in @Model.GetPhoto())
                {
                    <div class="col Item_img">
                        <img class="img" src="/Images/ProductImages/@item.Photo_path"/>
                    </div>
                    <div class="col Item_info">
                        <div class="row Item_titel">
                            <span>@item.Title</span>
                        </div>
                        <div class="row Item_prijs">
                            <span>@item.Price</span>
                        </div>
                        <div class="row Item_button">
                            <form method="post">
                            <input type="hidden" asp-for="ImgId" value="@item.Photo_id"/>
                                   <button class="btn btn-outline-danger my-3" asp-page-handler="Delete" type="submit">
                                    <img class="mr-2" src="~/images/delete_black_24dp.svg"/>
                                </button>
                            </form>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col Item_payment">
            <div class="row Price_sum">
                <span>Subtotaal: </span>
            </div>
            <div class="row Vat_payment">
                <span>Inclusief BTW 21%</span>
            </div>
            <div class="row mb-3 Pay_button">
                <form method="post">
                <button asp-page-handler="OrderSucces" class="btn-primary Pay_button">Afrekenen</button>
                </form>
            </div>
        </div>
    </div>

</div>
</body>